
{% extends 'base.html.twig' %}

{% block title %}{{ destination.name }}{% endblock %}

{% block body %}
<div class="container mt-5 d-flex justify-content-center align-items-center">
    <div class="w-50 border p-4 rounded shadow">
        <h1 class="text-center">{{ destination.name }}</h1>
        <img style="width: 100%;" src="{{ vich_uploader_asset(destination,'imageFile') }}" alt="{{ destination.name }}">
        <p>{{ destination.description }}</p>
        <p> price : {{ destination.price }} EUR</p>
        <p>duration :{{ destination.duration }} Days</p>
        <a href="{{ path('destination') }}" class="btn btn-primary btn-block">Back to Destinations</a>
    </div>
</div>



{% endblock %}
